{% from 'bvlc_convolutions.macro' import bvlc_convolutions %}
{% from 'bvlc_fcs.macro' import bvlc_fcs %}
{% from 'fc_unit.macro' import fc_unit %}
name: "bvlc_sample"

input: "data"
input_dim: 10
input_dim: 3
input_dim: 227
input_dim: 227

{{bvlc_convolutions('data')}}
{{bvlc_fcs('conv5-pool')}}
{{
	fc_unit('fc7', 'fc8', num=1000,
		w_filler={'type': '"gaussian"', 'std': 0.01},
		nonlin_type='SOFTMAX')
}}
