{% from 'bvlc_convolutions.macro' import bvlc_convolutions %}
{% from 'bvlc_fcs.macro' import bvlc_fcs %}
{% from 'fc_unit.macro' import fc_unit %}
name: "bvlc_sample"

input: "data"
input_dim: 10
input_dim: 3
input_dim: 227
input_dim: 227

{% macro bvlc_cnn(input_name, prefix='', param_prefix='') %}
{{bvlc_convolutions(input_name, prefix, param_prefix)}}
{{bvlc_fcs(prefix + 'conv5-pool', prefix, param_prefix)}}
{% endmacro %}
{{bvlc_cnn('data')}}
{{bvlc_cnn('data', 'p_')}}
layers{
	name: "sub"
	bottom: "fc7"
	bottom: "p_fc7"
	top: "sub"
	type: ELTWISE
	eltwise_param {
		operation: SUM
		coeff: 1
		coeff: 1
	}
}
{{
	fc_unit('sub', 'sub-fc8', num=1000,
		w_filler={'type': '"gaussian"', 'std': 0.01},
		nonlin_type=none)
}}
