{#
params: net, snapshot_prefix, max_iter
optional params:
	test_iter=200, test_interval=1000, base_lr=0.001, display=50,
	momentum=0.9, weight_decay=0.000001, snapshot=1000, debug_info=false
#}
net: "{{net}}"
{% if test_iter|d(none) is not none %}test_iter: {{ test_iter }}{%endif%}
{% if test_interval|d(none) is not none %}test_interval: {{ test_interval }}{%endif%}
base_lr: {{ base_lr|d(0.001) }}
display: {{ display|d(50) }}
average_loss: {{ display|d(50) }}
max_iter: {{ max_iter }}
momentum: {{ momentum|d(0.9) }}
weight_decay: {{ weight_decay|d(0.000001) }}
snapshot: {{ snapshot|d(1000) }}
snapshot_prefix: "{{snapshot_prefix}}"
lr_policy: "{{lr_policy|d("fixed")}}"
power: {{power|d(0.5)}}
{% if debug_info|d(false) %}debug_info: true{% endif %}
{% set accum_grad = accum_grad|d(1) %}
{% if accum_grad > 1 %}iter_size: {{ accum_grad }}{% endif %}
{% if share_blobs|d(true) %}share_blobs: true{%endif%}
{% if force_cpu_momentum|d(false) %}force_cpu_momentum: true{% endif %}
